<a href="https://colab.research.google.com/github/PhanQuangHuy123/B-i-1_AI_-Phan-Quang-Huy-20146254/blob/main/AI_W8_24_03_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## mô hình  đơn giản 
from sklearn.linear_model import Perceptron
x = [[0,0],
     [1,0],
     [0,1],
     [1,1]]
y = [0,1,1,1] 
model = Perceptron()
model.fit(x,y)
model.score(x,y)

x1 = [[0.5,0],[0,0.5],[0,6],[1,3],[6,7],[-8,-2],[0.5,9],[-5,6]]
y1 = model.predict(x1)
y1

array([0, 0, 1, 1, 1, 0, 1, 1])

In [2]:
x = [[-0.5,-0.5],[-0.5,0.5],[0.3,-0.5],[-0.1,1]]
y = [1,1,0,0]
model = Perceptron()
model.fit(x,y)


x1 = [[0.5,-1],
      [2,3],
      [-2,3],
      [5,-10],
      [-9,5],
      [1,3]]
y1 = model.predict(x1)
y1

array([0, 0, 1, 0, 1, 0])

In [3]:
from sklearn import datasets 
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [6]:
iris = datasets.load_iris()
x = iris.data
y = iris.target
print(x[:5])
print(x[:5])

x_train, x_test , y_train, y_test = train_test_split(x,y,test_size= 0.3 )#ti le 70/30
sc = StandardScaler()
sc.fit(x_train)
x_train_std = sc.transform(x_train)
x_test_std = sc.transform(x_test)

[[5.1 3.5 1.4 0.2]
 [4.9 3.  1.4 0.2]
 [4.7 3.2 1.3 0.2]
 [4.6 3.1 1.5 0.2]
 [5.  3.6 1.4 0.2]]
[[5.1 3.5 1.4 0.2]
 [4.9 3.  1.4 0.2]
 [4.7 3.2 1.3 0.2]
 [4.6 3.1 1.5 0.2]
 [5.  3.6 1.4 0.2]]

In [7]:
model = Perceptron(max_iter=1000, eta0 = 0.1, random_state=0) 
# max_iter: số lần học
# eta0: tốc độ học
# random_state: lấy ngẫu nhiên
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
print(y_pred)
print(y_test)
print('Độ chính xác mô hình chưa Scale:', accuracy_score(y_test, y_pred))

[1 2 0 2 1 0 0 2 1 1 0 0 1 1 0 1 1 1 1 2 1 1 1 1 0 0 0 1 1 0 1 0 0 0 1 1 0
 2 1 1 1 2 1 0 1]
[1 2 0 2 1 0 0 2 1 1 0 0 2 1 0 1 2 1 2 2 1 1 2 1 0 0 0 2 1 0 1 0 0 0 1 1 0
 2 2 1 2 2 1 0 1]
Độ chính xác mô hình chưa Scale: 0.8444444444444444

In [8]:
model = Perceptron(max_iter=1000, eta0 = 0.1, random_state=0)
model.fit(x_train_std,y_train)
y_pred = model.predict(x_test_std)
print(y_pred)
print(y_test)
print('Độ chính xác của mô hình đã Scale:', accuracy_score(y_test, y_pred))

[1 2 0 2 1 0 0 2 1 1 0 0 2 1 0 0 2 1 2 2 1 1 2 1 0 0 0 2 1 0 1 0 0 0 1 1 0
 2 2 1 2 2 1 0 1]
[1 2 0 2 1 0 0 2 1 1 0 0 2 1 0 1 2 1 2 2 1 1 2 1 0 0 0 2 1 0 1 0 0 0 1 1 0
 2 2 1 2 2 1 0 1]
Độ chính xác của mô hình đã Scale: 0.9777777777777777

#Crabs

In [9]:
import pandas as pd

url = '/content/crabs.csv'
crabs = pd.read_csv(url)

crabs['speies'].replace(['O','B'],[1,0], inplace=True)
crabs['sex'].replace(['M','F'],[1,0], inplace=True)

In [10]:
crabs

     speies  sex  index  fontallip  rearwidth  length  width  depth
0         0    1      1        8.1        6.7    16.1   19.0    7.0
1         0    1      2        8.8        7.7    18.1   20.8    7.4
2         0    1      3        9.2        7.8    19.0   22.4    7.7
3         0    1      4        9.6        7.9    20.1   23.1    8.2
4         0    1      5        9.8        8.0    20.3   23.0    8.2
..      ...  ...    ...        ...        ...     ...    ...    ...
195       1    0     46       21.4       18.0    41.2   46.2   18.7
196       1    0     47       21.7       17.1    41.7   47.2   19.6
197       1    0     48       21.9       17.2    42.6   47.4   19.5
198       1    0     49       22.5       17.2    43.0   48.7   19.8
199       1    0     50       23.1       20.2    46.2   52.5   21.1

[200 rows x 8 columns]

In [11]:
x = pd.DataFrame([crabs['speies'], crabs['index'], crabs['fontallip'], 
                  crabs['rearwidth'], crabs['length'], crabs['width'], crabs['depth']]).T
y = crabs['sex']
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3)
sc = StandardScaler()
sc.fit(x_train)
x_train_std = sc.transform(x_train)
x_test_std = sc.transform(x_test)

model = Perceptron(max_iter=1000, eta0 = 0.1, random_state=0) 
model.fit(x_train_std,y_train)
y_pred = model.predict(x_test_std)
print('Độ chính xác của mô hình đã Scale:', accuracy_score(y_test, y_pred))

Độ chính xác của mô hình đã Scale: 0.9666666666666667

LUNG CANCER

In [12]:
import pandas as pd
url = '/content/lung_cancer_examples.csv'
lung_cancer = pd.read_csv(url)
# delete 2 columns: Name, Surname
lung_cancer.drop(['Name', 'Surname'], axis=1, inplace=True)

In [13]:
lung_cancer

    Age  Smokes  AreaQ  Alkhol  Result
0    35       3      5       4       1
1    27      20      2       5       1
2    30       0      5       2       0
3    28       0      8       1       0
4    68       4      5       6       1
5    34       0     10       0       0
6    58      15     10       0       0
7    22      12      5       2       0
8    45       2      6       0       0
9    52      18      4       5       1
10   33       4      8       0       0
11   18      10      6       3       0
12   25       2      5       1       0
13   28      20      2       8       1
14   34      25      4       8       1
15   39      18      8       1       0
16   42      22      3       5       1
17   19      12      8       0       0
18   62       5      4       3       1
19   73      10      7       6       1
20   55      15      1       3       1
21   33       8      8       1       0
22   22      20      6       2       0
23   44       5      8       1       0
24   77       3      2       6       1
25   21      20      5       3       0
26   37      15      6       2       0
27   34      12      8       0       0
28   55      20      1       4       1
29   40      20      2       7       1
30   36      13      5       2       0
31   56      20      3       3       1
32   47      15      1       8       1
33   62      25      3       4       1
34   26      10      7       2       0
35   25      20      8       2       0
36   59      20      3       4       1
37   62      15      5       5       1
38   33      25      8       2       0
39   37      10      5       3       0
40   50      20      2       4       1
41   47      12      8       0       0
42   69      20      5       4       1
43   63      20      4       5       1
44   39      15      7       2       0
45   21      20      8       3       0
46   31      20      9       4       0
47   28      10      4       1       0
48   53      20      6       3       1
49   62      20      5       6       1
50   42      12      6       2       0
51   44      30      1       6       1
52   26      34      1       8       1
53   35      20      5       1       0
54   26      13      6       1       0
55   77      20      5       4       1
56   75      15      3       5       1
57   43      30      3       8       1
58   51      25      9       0       0

In [14]:
x = pd.DataFrame([lung_cancer['Age'], lung_cancer['Smokes'],
                  lung_cancer['AreaQ'], lung_cancer['Alkhol']]).T
y = lung_cancer['Result']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)
sc = StandardScaler()
sc.fit(x_train)
x_train_std = sc.transform(x_train)
x_test_std = sc.transform(x_test)

model = Perceptron(max_iter=1000, eta0=0.1, random_state=0)
model.fit(x_train_std, y_train)
y_pred = model.predict(x_test_std)
print('Độ chính xác của mô hình đã Scale:', accuracy_score(y_test, y_pred))

Độ chính xác của mô hình đã Scale: 1.0

pima Indians Diabetes

In [15]:
import pandas as pandas
url = '/content/pima-indians-diabetes.csv'
diabetes = pd.read_csv(url)
x = diabetes.loc[:, ['6','148','35','0','33.6','0.627','50']]
y = diabetes['1']

In [20]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)
sc = StandardScaler()
sc.fit(x_train)
x_train_std = sc.transform(x_train)
x_test_std = sc.transform(x_test)

model = Perceptron(max_iter=100, eta0=0.1, random_state=0)
model.fit(x_train_std, y_train)
y_pred = model.predict(x_test_std)
print('Độ chính xác của mô hình đã Scale:', accuracy_score(y_test, y_pred))

Độ chính xác của mô hình đã Scale: 0.658008658008658